<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>créer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-list-header>
        <ion-label><b>Catégories</b></ion-label>
        <ion-button *ngIf="categorie==false" (click)="seeCat()">Tout voir</ion-button>
        <ion-button *ngIf="categorie==true" (click)="inputCat()">Ajouter</ion-button>
        <ion-button *ngIf="categorie==true" (click)="seeCat()">Fermer</ion-button>
      </ion-list-header>

      <ion-item *ngIf="categorie==true && catInput==true">
        <ion-input [(ngModel)]="catName" type="text" placeholder="Ecrire"></ion-input>
        <ion-button (click)="addCat()">Valider</ion-button>
      </ion-item>

      <div *ngIf="categorie==true">
        <ion-item *ngFor="let item of listeCat" lines="none">
          <ion-label>{{item.type}}</ion-label>
        </ion-item>
      </div>

    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-list-header>
        <ion-label><b>Quartiers</b></ion-label>
        <ion-button *ngIf="quartier==false" (click)="seeQuart()">Tout voir</ion-button>
        <ion-button *ngIf="quartier==true" (click)="inputQuart()">Ajouter</ion-button>
        <ion-button *ngIf="quartier==true" (click)="seeQuart()">Fermer</ion-button>
      </ion-list-header>

      <ion-item *ngIf="quartier==true && quartInput==true">
        <ion-input [(ngModel)]="quartName" type="text" placeholder="Ecrire"></ion-input>
        <ion-button (click)="addQuart()">Valider</ion-button>
      </ion-item>

      <div *ngIf="quartier==true">
        <ion-item *ngFor="let item of listeQuart" lines="none">
          <ion-label>{{item.name}}</ion-label>
        </ion-item>
      </div>

    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-list-header>
        <ion-label><b>Commodités</b></ion-label>
        <ion-button *ngIf="commodite==false" (click)="seeCommo()">Tout voir</ion-button>
        <ion-button *ngIf="commodite==true" (click)="inputCommo()">Ajouter</ion-button>
        <ion-button *ngIf="commodite==true" (click)="seeCommo()">Fermer</ion-button>
      </ion-list-header>

      <ion-item *ngIf="commodite==true && commoInput==true">
        <ion-input [(ngModel)]="commoName" type="text" placeholder="Ecrire"></ion-input>
        <ion-button (click)="addCommo()">Valider</ion-button>
      </ion-item>

      <div *ngIf="commodite==true">
        <ion-item *ngFor="let item of listeCommo" lines="none">
          <ion-label>{{item.val}}</ion-label>
        </ion-item>
    </div>

    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-list-header>
        <ion-label><b>Services</b></ion-label>
        <ion-button *ngIf="service==false" (click)="seeServi()">Tout voir</ion-button>
        <ion-button *ngIf="service==true" (click)="inputServi()">Ajouter</ion-button>
        <ion-button *ngIf="service==true" (click)="seeServi()">Fermer</ion-button>
      </ion-list-header>

      <ion-item *ngIf="service==true && servInput==true">
        <ion-input [(ngModel)]="servName" type="text" placeholder="Ecrire"></ion-input>
        <ion-button (click)="addServi()">Valider</ion-button>
      </ion-item>

      <div *ngIf="service==true">
        <ion-item *ngFor="let item of listeServ" lines="none">
          <ion-label>{{item.val}}</ion-label>
        </ion-item>
      </div>

    </ion-list>
  </ion-card>
</ion-content>
